<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
    <f:section name="content">
	     <f:if condition="{projects}">    
			<f:for each="{pagination.paginator.paginatedItems}" as="project" iteration="iterator">
				 	<f:render partial="Project/Item" arguments="{project:project, settings:settings, iterator:iterator}" />
			</f:for>
	     </f:if>
		<f:render partial="Project/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, search: search, actionName: 'list'}" />
     </f:section>
</html>
